<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Websocket y Hbs</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Esto se muestra</h1>
      <nav>
        <ul>
          <li><a href="/">Todos los Productos</a></li>
          <li><a href="/realtimeproducts">Productos en Tiempo Real</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>
    <script src="/js/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>